.factura-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.factura-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.factura-info p, .factura-total p {
    margin: 0;
}

.factura-items {
    border-top: 1px solid #ccc;
}

.factura-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.item-info {
    flex-grow: 1;
}

.item-name {
    font-weight: bold;
}

.item-description {
    font-size: 0.9em;
    color: #666;
}

.item-quantity-price {
    flex-shrink: 0;
    text-align: right;
}

.item-quantity {
    margin: 0 5px;
}

.item-price {
    font-weight: bold;
}