
.container {
    margin-top: 20px;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

p {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
}

.image-header-container {
    display: flex;
    overflow: hidden;
}

.image-header-container img {
    height: 200px; 
    width: auto; 
    margin-right: 20px; 
    animation: moveImages 20s linear infinite; 
}

    /* Estilos para reducir el tamaño de las imágenes */
    .carousel-item img {
        max-width: 100%;
        height: auto;
        max-height: 300px; 
        margin: auto;
    }

@keyframes moveImages {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}




/* citas/Show.blade.php */
.tarjeta {
    background-image: url('/imagenes/vercita.jpg'); 
    background-position-x: 50%;
    background-repeat: no-repeat; 
    height: 300px; 
    width: 1000px; 
    font-size: 18px;
    color: black;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.tarjeta > div {
    max-width: 80%; 
}

.parrafo-tarjeta{
    font-size: 18px;
    
}